@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karadeniz Teknik Üniversitesi<br />
    Ortahisar/TRABZON<br />
    Telefon:(0462)3773000</br>

</address>

<address>
    <strong>Destek:</strong>   <a href="information@ktu.edu.tr">information@ktu.edu.tr</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>