@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Karadeniz Teknik Üniversitesi</h1>
    <p class="lead">Staj Bilgi Yönetim Sistemi</p>
    <p><a href="http://www.ktu.edu.tr" class="btn btn-primary btn-lg">KTÜ Resmi Anasayfası &raquo;</a></p>
</div>

<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

